body{
  font-family: 'Ubuntu', sans-serif;
}

.h3-head{
  font-family: 'Montserrat', sans-serif;
  padding : 35px;
}

/* navbar */
.logo{
  width : 70px;
  height : 70px;
  margin-right : 10px;
}

.navbar{
  padding : 3% 3%;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
/* section */
.colored-section{
  background-color: #203239;
  color : #fff;
  text-align: center;
}

.white-section{
  text-align: center;
}

/* title */
#title{
    text-align: left;
}

.search-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.search-food{
  padding : 90px 90px 150px 90px;
}

.our-moto{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding : 8% 5%;
}
/* features */

#features .row-features{
  padding : 6% 8%;
}

.features-col{
  padding : 50px;
}

/* testimonial */
#testimonials{
  text-align: center;
}

.carousel-img{
  height : 90px;
  width : 90px;
  border-radius: 100px;
}

.carousel-inner{
  text-align: center;
  padding : 6% 15% 6%;
}

.row{
  margin-left: 0px;
  margin-right: 0px
}

.button-cart{
  background-color: #fff;
  margin-left : 13px;
}

/* pricing */
#pricing{
  text-align: center;
}

.pricing-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-top: 40px;
}

.pricing-row{
  padding : 5% 10%;
}

.pricing-col{
  padding : 10px;
}

.card-img-top{
  padding : 30px;
  width : 200px;
  height : 200px;
}

/* cta */
#cta{
  padding : 7% 10%;
  text-align: center;
}

.btn{
  margin-right : 20px;
}

.btn-info{
  margin : auto;
}

.cta-download-title{
  font-family: 'Montserrat', sans-serif;
  padding : 40px;
  font-size: 2.5rem;
}

/* footer */
#footer{
  text-align: center;
}

.footer-icon{
  margin :30px 10px;
}

.footer-link{
  color : black;
}

.copyright{
  padding-bottom : 20px;
}

/* media-query */
@media (max-width : 991px){
  .navbar-nav{
    text-align: center;
  }
  .button-cart{
    margin-left: 0px;
    margin : auto;
  }
}
